[project]
name = "mxmake"
description = "Generates a Python project-specific Makefile by using an extensible library of configurable Makefile snippets."
version = "1.0a1.dev3"
keywords = ["development", "deployment", "environment"]
authors = [
  {name = "MX Stack Developers", email = "dev@bluedynamics.com" }
]
requires-python = ">=3.7"
license = { text = "BSD 2-Clause License" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "Jinja2",
    "mxdev",
    "inquirer",
]
dynamic = ["readme"]

[project.optional-dependencies]
mypy = [
    "types-setuptools",
    "types-pkg-resources",
]
docs = ["Sphinx", "sphinxcontrib-mermaid"]

[project.urls]
Homepage = "https://github.com/mxstack/mxmake"
Documentation = "https://mxmake.readthedocs.io"
"Bug Reports" = "https://github.com/mxstack/mxmake/issues"
Source = "https://github.com/mxstack/mxmake/"

[project.scripts]
mxmake = "mxmake.main:main"

[project.entry-points.mxdev]
hook = "mxmake.hook:Hook"

[project.entry-points."mxmake.topics"]
core = "mxmake.topics:core"
docs = "mxmake.topics:docs"
js = "mxmake.topics:js"
ldap = "mxmake.topics:ldap"
qa = "mxmake.topics:qa"
system = "mxmake.topics:system"
applications = "mxmake.topics:applications"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
zip-safe = false

[tool.setuptools.dynamic]
readme = {file = ["README.md", "CHANGES.md", "LICENSE.md"], content-type = "text/markdown"}

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "src",
]

[tool.isort]
profile = "black"
force_alphabetical_sort = true
force_single_line = true
lines_after_imports = 2

[tool.mypy]
ignore_missing_imports = true


