name: Tests

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: "pyproject.toml"
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}
    - name: Install Project (Windows)
      if: runner.os == 'Windows'
      run: make MAKESHELL='C:/Program Files/Git/usr/bin/bash' install
    - name: Install Project (Unix)
      if: runner.os != 'Windows'
      run: make install
    - name: Run Tests (Windows)
      if: runner.os == 'Windows'
      run: make MAKESHELL='C:/Program Files/Git/usr/bin/bash' test
    - name: Run Tests (Unix)
      if: runner.os != 'Windows'
      run: make test
